@import "tailwindcss";

:root {
  --bg: #F1EDE1;
  --text: #1a1a1a;
  --card: #eeeeee;
}

.dark {
  --bg: #1a1a1a;
  --text: #eeeeee;
  --card: #242527;
}

html,
body {
  background: var(--bg);
  color: var(--text);
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}